
.section-tab {
    margin: 0;
    padding: 0px;
    border-radius: 3px;
    background-color: transparent;
  }
  
  .section-tab .title {
    font-family: "Marcellus SC", serif;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    padding-right: 5px;
    color: #fff;
  }
  
  .section-tab .title span {
    font-size: 18px;
    color: #e4a101;
  }
  
  .section-tab .subtitle {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--light-gray);
  }
  
  .new {
    border-radius: 25px;
    border: 3px solid #e4a101;
    transition: all 0.25s;
    color: var(--main-bg-color);
    background-color: var(--main-bg-color);
  }
  
  .new img {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .sound-button {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo ligeramente translúcido */
    color: rgba(255, 255, 255, 0.5); /* Texto translúcido */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sound-button span {
    color: white; /* Emoji completamente visible */
    font-size: 16px;
  }
  
  .sound-button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo más visible al hacer hover */
    color: rgba(255, 255, 255, 0.9); /* Texto más visible en hover */
  }